@charset "utf-8";
/* CSS Document */
/* Default */
html, body {
    height: 100%;
}

#page {
    min-height: 100%;
    width: 100%;
    position: relative;
    box-shadow: 0 3px 10px rgba(0,0,0,.23);
    position:relative;
}

header,
footer {
    background:#009587;
    color: rgba(255,255,255,.84);
}

header {
    margin-bottom: 15px;
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 1.7em;
}

.navbar {
    margin: 5px 0;
}

footer {
    padding: 15px 0;
    font-family: 'Open Sans','Droid Sans',arial,sans-serif;
}

footer menu {
    list-style: none;
    columns: 3;
    -webkit-columns: 3;
    padding-left: 25px;
}

footer menu li {
    display: block;
    padding-bottom: 2px 5px;
}

footer a {
    color: rgba(255,255,255,.84);
}

footer a:hover {
    color: inherit;
    text-decoration: underline;
}

.topmenu__item a {
    color: white !important;
    font-size: 0.9em !important;
}

.hcphp-thumbnail__image {
    max-width: 320px;
    max-height: 320px;
    display: inline-block;
}

/* Media */
/* md */
@media screen and (max-width: 1280px) {
    /* empty */
}

/* sm */
@media screen and (max-width: 1024px) {
    footer menu {   
        columns: 2;
        -webkit-columns: 2;
    }
}

/* xs */
@media screen and (max-width: 768px) {
    footer menu {
        columns: 1;
        -webkit-columns: 1;
    }
}

/* us */
@media screen and (max-width: 450px) {
    .topmenu menu a {
        font-size:10px;
        font-weight: bold;
    }
}